/* FadeTransition.css */
.fade-enter {
    opacity: 0;
    transform: scale(0.9); /* Optional: Slight scale effect */
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in, transform 300ms ease-in; /* Adjust transition speed as needed */
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out; /* Duration of exit transition */
}
